body{
	background-color: #212529;
	margin: 0px;
}

article{
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: white;
	font-size: 25px;
<<<<<<< HEAD
	padding-left: 15px;
	padding-right: 15px;
}
=======
	color: white;
}
>>>>>>> 9186c8bcf72d32090f49e0650780e1de79024f29
